<div *ngFor="let point of points">
  <div> {{point.name}} coordinates {{point.longitude}} {{point.latitude}}</div>
  <div>
    <button mat-fab color="primary"  (click)="moveLeft(point)"><mat-icon>arrow_left</mat-icon></button>
    <button mat-fab color="primary" (click)="moveRight(point)"><mat-icon>arrow_right</mat-icon></button>
  </div>
  <div>
    <button mat-fab color="primary" (click)="moveUp(point)"><mat-icon>arrow_drop_up</mat-icon></button>
    <button mat-fab color="primary" (click)="moveDown(point)"><mat-icon>arrow_drop_down</mat-icon></button>
  </div>
</div>
